@import '../../styles/colors';

.input {
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid rgba(106, 110, 128, 0.315);

  & span {
    display: inline-block;
    margin-bottom: 5px;
  }

  &:focus {
    border: 1px solid rgba(47, 49, 59, 0.315);
    outline: transparent;
  }

  &--red {
    border: 1px solid $_red;

    &:focus {
      border: 1px solid $_red;
    }
  }

  &__label {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
    width: 100%;
  }

  &__error {
    color: $_red;
    font-size: 12px;
  }
}
