@import '../../styles/colors.scss';

.button {
  min-width: 30px;
  outline: none;
  box-sizing: border-box;
  overflow: hidden;
  font-weight: 400;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: $_standardWhite;
  text-align: center;
  padding: 10px 30px;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 0.8;
  }

  &--warning {
    background-color: $_paleOrange;
    color: $_standardWhite;
  }

  &--save {
    background-color: $_saladGreen;
    color: $_standardWhite;
  }

  &--danger {
    background-color: $_red;
    color: $_standardWhite;
  }
}
