$_darkGray: #2c2f3c;
$_black: #000;
$_mediumGray: #525462;
$_silverGray: #474a59;
$_dimGray: #494e5c;
$_standardWhiteWO: rgba(255, 255, 255, 0.36);
$_betweenGrayAndMediumGray: #6c7283;
$_gray: #9fa1ae;
$_silver: #d9dbe3;
$_standardWhite: #fff;
$_orange: #ffa21d;
$_paleOrange: #fbb035;
$_ultraLightBlue: #ebfafc;
$_superLightBlue: #dbeaec;
$_lightBlue: #30b6dd;
$_blue: #1f98bb;
$_darkBlue: #22aad1;
$_deepBlue: #436ad6;
$_purpleBlue: #7393ef;
$_yellow: #ffde56;
$_golden: #ffbb57;
$_silver: #bec2c3;
$_bronze: #e7b794;
$_lemonChiffon: #fffadd;
$_darkSilver: #a8a9b4;
$_lightGray: #f2f3f7;
$_lighterGray: #eaedf5;
$_dirtyGray: #d8d8d8;
$_gainsboro: #ced0db;
$_orangeRed: #fb6357;
$_redOrange: #ff6d49;
$_red: #e12d0d;
$_saladGreen: #9bc837;
$_lightGreen: #9dcc3e;
$_transparent: rgba(0, 0, 0, 0);
$_translucent: rgba(0, 0, 0, 0.75);
